footer{
    background:#000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:3.5rem 0;
    color: #fff;
    h5{
        font-weight: normal;
        padding:1rem 0;
        opacity: .8;
        font-size: 1.3rem;
    }
    h6{
        opacity: .9;
        font-size: .9rem;
        // padding-bottom: .5rem;
    }
    .footer-links{
        padding-right: 1rem;
        font-size: 1.5rem;
        
    }
    .fa-facebook{
        color: #3B589C;
    }
    .fa-instagram{
        color: #E83461;
    }
    p{
        font-size: 0.8375rem;
        font-weight: 300;
        // color: #656565;
        opacity: .5;
        line-height: 1.6;
        color: #fff;
    }
    a{
        color:#fff !important;
        &:hover{
            color: #ffff !important;
        }
    }
    .whatsapp{
        height: 100px;
    }
}