.intro{
    background: #FFF;
    padding: 2rem 0;
    h2{
        padding-top: 1rem;
        font-weight: bolder;
        font-size: 2rem;
        color: #242424;
        line-height: 1.5;
    }
    p{
        margin-top: 2rem;
        font-size: 0.9375rem;
        font-weight: 300;
        color: #656565;
        line-height: 1.6;
    }
}