.top__nav{
    background: $primary-color;
    color:#fff;
    font-size: .8rem;
    height: 2.5rem;
    p{
        padding-top:10px;
    }
}
nav{
    padding: 1rem 0 !important;
    .navbar-brand{
        font-size: 1rem;
        font-family: 'Lato';
    }
    .brand-logo{
        height: 4rem;
    }
    .nav-link{
        color: #242424;
        text-transform: uppercase;
        font-size: .844rem;
        font-weight: bold;
        margin-left: 1.3rem;
    }
    .contact-link{
        border: 1px solid $primary-color;
        background: transparent;
        padding: .6rem 1.4rem !important;
        border-radius: 2px;
    }
}


//MEDIA QUERIES
@media only screen and (max-width: 990px) {
    .main__wrapper{
        background: $primary-color;
        .brand-img{
            color:#fff;
            font-size: 1rem;
        }
        .navbar-toggler{
            color:#fff;
            opacity: .9;
        }
       .nav-link{
           color: #fff;
           font-weight: normal;
       }
       .contact-link{
        border: 1px solid #fff;
        background: transparent;
        padding: .6rem 1.4rem !important;
        border-radius: 2px;
        color:#fff
    }
    }
  } 