.newsletter{
    background: #f4f4f4;
    padding:2rem 0;
    h2{
        font-weight: bold;
    }
    p{
        font-size: 0.9275rem;
        font-weight: 300;
        color: #656565;
        line-height: 1.6;
        padding-top:.5rem;
    }
    form{
        margin-top: 2.6rem;
        input[type=text]{
            width: 100% !important;
            height: 2.6rem;
            border-radius: 0 !important;
            &::placeholder{
                font-size: .85rem;
            }
            &:focus{
                box-shadow: none!important;
                border: 1px solid #ccc;
            }
        }
        .newsletter-btn{
            background: $primary-color;
            color: #fff;
            padding: .63rem 2rem;
            border: none;
            font-size: .9rem;
            &:hover{
                background: $primary-color;
                transition: all ease-in-out .5s;
            }
        }
    }
}