*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat' !important,
}
.top__nav--contents{
    width: 90%;
    margin: 0 auto;
}