.wrapper{
    .services{
        h1{
            font-weight: bolder;
            font-size: 2rem;
            color: #242424;
            line-height: 1.5;
        }
        p{
            font-size: 0.9375rem;
            font-weight: 300;
            color: #656565;
            line-height: 1.6;
        }
        h3{
            color: #242424;
            font-weight: bold;
        }
    }
}